*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

html *{
    font-size: 16px;
}

body{
    background: url('assets/bg-desktop.svg') no-repeat;
    background-size: 95%;
    background-color: hsl(257, 40%, 49%);
}

.cabecalho > nav > ul > li{
    margin: 30px;
    list-style: none;
}

.cabecalho > nav > ul > li > img{
    width: 16%;
}

.info-project{
    display: flex;
    justify-content: center;
    align-items: center;
}

.info-project-ilustration{
    width: 52%;
}

.info-project-ilustration img{
    width: 85%;
    margin-top: 10px;
}

.info-register h1{
    font-size: 2rem;
    color: white;
    line-height: 30px;
    margin-bottom: 22px;
    font-family: 'Poppins', sans-serif;
}

.info-register p{
    font-size: 1rem;
    color: white;
    line-height: 25px;
    margin-bottom: 20px;
    font-family: 'Open Sans', sans-serif
}

.info-register button{
    width: 160px;
    height: 50px;
    border-radius: 50px;
    background: white;
    color: hsl(257, 40%, 49%);
    font-size: 1rem;
    font-family: 'Open Sans', sans-serif;
}

.info-register button:hover{
    background-color: hsl(300, 69%, 71%);
    color: white;
}

.social{
    display: flex;
    justify-content: flex-end;
    margin-right: 80px;
    margin-top: 30px;
    gap: 20px;
}

.social .social-icon-box i{
    font-size: 1rem;
    position: relative;
    bottom: 35px;
    color: white;
    border: 1px solid white;
    border-radius: 50%;
    width: 35px;
    height: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.social .social-icon-box i:hover{
    background-color: hsl(300, 69%, 71%);
}

/* Responsividade para tablets */

@media (max-width: 900px) {
    body{
        background: url('assets/bg-mobile.svg');
        background-color: hsl(257, 40%, 49%);
        background-position: top center;
        background-repeat: no-repeat;
    }

    .info-project{
        display: flex;
        flex-direction: column;
    }

    .cabecalho nav ul li img{
        width: 20%;
    }

    .info-project-ilustration img{
        width: 120%;
        position: relative;
        right: 50px;
    }

    .info-register{
        margin-top: 62px;
    }

    .info-register h1{
        text-align: center;
    }

    .info-register p{
        text-align: center;
        font-size: 18px;
    }

    .info-register button{
        display: flex;
        margin: auto;
        justify-content: center;
        align-items: center;
        margin-top: 30px;
        margin-bottom: 50px;
    }

    .footer{
        display: flex;
        justify-content: center;
        align-items: center;
        margin-left: 80px;
    }
}

/* Responsividade para celulares */
@media (max-width: 390px) {
    body{
        background: url('assets/bg-mobile.svg');
        background-color: hsl(257, 40%, 49%);
        background-position: top center;
        background-repeat: no-repeat;
    }

    .info-project{
        display: flex;
        flex-direction: column;
    }

    .cabecalho nav ul li img{
        width: 45%;
    }

    .info-project-ilustration img{
        width: 150%;
        position: relative;
        right: 50px;
    }

    .info-register{
        margin-top: 62px;
    }

    .info-register h1{
        text-align: center;
    }

    .info-register p{
        text-align: center;
        font-size:21px;
    }

    .info-register button{
        display: flex;
        margin: auto;
        justify-content: center;
        align-items: center;
        margin-top: 30px;
        margin-bottom: 50px;
    }

    .footer{
        display: flex;
        justify-content: center;
        align-items: center;
        margin-left: 80px;
    }
}