*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

html *{
    font-size: 16px;
}

body{
    background: url('assets/img/bg-desktop.svg') no-repeat;
    background-size: 95%;
    background-color: hsl(257, 40%, 49%);
}

/* Responsividade para tablets */

@media (max-width: 900px) {
    body{
        background: url('assets/img/bg-mobile.svg');
        background-color: hsl(257, 40%, 49%);
        background-position: top center;
        background-repeat: no-repeat;
    }

    .info-project{
        display: flex;
        flex-direction: column;
    }

    .cabecalho nav ul li img{
        width: 20%;
    }

    .info-project-ilustration img{
        width: 120%;
        position: relative;
        right: 50px;
    }

    .info-register{
        margin-top: 62px;
    }

    .info-register h1{
        text-align: center;
    }

    .info-register p{
        text-align: center;
        font-size: 18px;
    }

    .info-register button{
        display: flex;
        margin: auto;
        justify-content: center;
        align-items: center;
        margin-top: 30px;
        margin-bottom: 50px;
    }

    .footer{
        display: flex;
        justify-content: center;
        align-items: center;
        margin-left: 80px;
    }
}

/* Responsividade para celulares */

@media (max-width: 390px) {
    body{
        background: url('assets/img/bg-mobile.svg');
        background-color: hsl(257, 40%, 49%);
        background-position: top center;
        background-repeat: no-repeat;
    }

    .info-project{
        display: flex;
        flex-direction: column;
    }

    .cabecalho nav ul li img{
        width: 45%;
    }

    .info-project-ilustration img{
        width: 150%;
        position: relative;
        right: 50px;
    }

    .info-register{
        margin-top: 62px;
    }

    .info-register h1{
        text-align: center;
    }

    .info-register p{
        text-align: center;
        font-size:21px;
    }

    .info-register button{
        display: flex;
        margin: auto;
        justify-content: center;
        align-items: center;
        margin-top: 30px;
        margin-bottom: 50px;
    }

    .footer{
        display: flex;
        justify-content: center;
        align-items: center;
        margin-left: 80px;
    }
}